.header {
  padding-left: 10%;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.verified-reviews {
  font-size: 20px;
  padding-bottom: 15px;
}

.review-count {
  padding-left: 25px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.filter-text {
  font-size: 18px;
  padding-right: 10px;
}

.dropdowns {
  display: flex;
  align-items: center;
}

.subheader {
  padding-left: 10%;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 400px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.image-carousel-container {
  padding-left: 140px;
  padding-right: 140px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.avatar-photo {
  border-radius: 50%;
}

.review-header {
  /*border-bottom: 1px solid #e9e9e9;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.username {
  font-size: 16px;
  padding-left: 16px;
}

.review-body {
  padding-left: 30px;
  font-size: 16px;
}

.top-line-review {
  padding-bottom: 5px;
  font-size: 18px;
  /*align-items: center;*/
}

.create-review-section {
  padding-bottom: 15px;
  max-width: 90%;
}

.create-review-header {
  display: flex;
  font-size: 20px;
  padding-bottom: 10px;
}

/*@font-face {
  font-family: Seatgeek;
  src: url('https://github.com/byrnehollander/blabber/blob/master/font.ttf?raw=true');
}*/
